.App {
  text-align: center;
  background-color: rgb(38, 18, 95);
  color: whitesmoke;
  padding: 1rem;
  width: 50%;
  height: 100vh;
  margin-inline: auto;
  margin-block: 2rem;
  border-radius: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 4px;
}

input {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 4px;
  width: 11rem;
}
